<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.first.mapper.AddressMapper">
	<select id="selectAddressList">
		select
			address_no addressNo,
			address_detail addressDetail
		from address
		where customer_mail=#{customerMail}
	</select>
	
	<insert id="insertAddAddress" parameterType="com.example.first.vo.Address">
		insert into address(
			 customer_mail,
			 address_detail
			 )values(
			 #{customerMail},
			 #{addressDetail}
			 )
	</insert>
</mapper>